
.rightbar {
    width: 300px;
    background-color: #f8f6ef;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.rightbarMainTitle {
    font-size: 2rem;
    color: #2b3a55;
    font-weight: 700;
    margin-bottom: 15px;
    border-bottom: 2px solid #d1c4a8;
    padding-bottom: 5px;
}


.rightbarSectionTitle {
    font-size: 1.5rem;
    color: #2b3a55;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}


.rightbarFriendList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.requestItem, .rightbarFriendItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.requestImg, .rightbarFriendImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #2b3a55;
    object-fit: cover;
}

.requestName, .rightbarFriendName {
    flex-grow: 1;
    color: #2b3a55;
    font-weight: 600;
}

.requestActions button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #f8f4e3;
    transition: background-color 0.3s;
}

.acceptBtn {
    background-color: #2b3a55;
}

.rejectBtn {
    background-color: #b22222;
}

.acceptBtn:hover {
    background-color: #1a2537;
}

.rejectBtn:hover {
    background-color: #8b0000;
}

.noRequests {
    color: #888;
    font-weight: 500;
    margin-left: 15px;
}
