/* share.css */
.share {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
}

.shareWrapper {
  display: flex;
  flex-direction: column;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  color: #333;
  background-color: #f4f4f4;
}

.shareHr {
  margin: 10px 0;
}

.shareBottom {
  display: flex;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  margin-right: 5px;
  color: #1d3557;
}

.shareButton {
  background-color: #1d3557;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.shareImg {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
}
