.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
  background-color: #1d3557;
  color: #f1faee;
  border-right: 1px solid #f1faee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #e0fbfc;
}

::-webkit-scrollbar-thumb {
  background-color: #f1faee;
  border-radius: 5px;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.sidebarListItem:hover {
  background-color: #f1faee;
  color: #1d3557;
}

.sidebarIcon {
  margin-right: 15px;
  font-size: 22px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-weight: 500;
  background-color: #e0fbfc;
  color: #1d3557;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebarButton:hover {
  background-color: #f1faee;
  color: #1d3557;
}

.sidebarHr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background-color: #f1faee;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebarFriendImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.sidebarFriendName {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

/* sidebar.css */
.messageIcon {
    cursor: pointer;
    color: #555;
    transition: color 0.2s;
}

.messageIcon:hover {
    color: #007bff;
}
